.purpleBg {
  background: linear-gradient(
    92deg,
    #4033cc 1.47%,
    var(--color-blue-70, #776bf8) 96.76%
  );
}

.blackBg {
  background: linear-gradient(
    149deg,
    var(--color-grey-20, #333) 13.56%,
    var(--color-grey-7, #121412) 80.96%
  );
}

.visionBg {
  background:
    linear-gradient(
      230deg,
      rgba(51, 51, 51, 0) 34.89%,
      var(--color-grey-7, #121412) 87.96%
    ),
    url('/images/about/vision.jpg') lightgray 50% / cover no-repeat;
}
