.purpleBg {
  background: linear-gradient(
    92deg,
    #6885ed 1.47%,
    var(--color-blue-46, #2841c1) 96.76%
  );
}

.blackBg {
  background: linear-gradient(
    149deg,
    var(--color-white-solid, #fff) 13.56%,
    var(--color-grey-96, #f6f6f6) 80.96%
  );
  box-shadow:
    219px 185px 80px 0 rgba(41, 66, 193, 0),
    140px 119px 73px 0 rgba(41, 66, 193, 0.01),
    79px 67px 62px 0 rgba(41, 66, 193, 0.05),
    35px 30px 46px 0 rgba(41, 66, 193, 0.08),
    9px 7px 25px 0 rgba(41, 66, 193, 0.09);
}

.visionBg {
  background:
    linear-gradient(280deg, #fff -23.84%, rgba(255, 255, 255, 0) 35.79%),
    linear-gradient(
      258deg,
      rgba(51, 51, 51, 0) 21.08%,
      var(--color-blue-46, #2841c1) 77.38%
    ),
    url('/images/about/vision.jpg') lightgray 50% / cover no-repeat;
}
