.light {
  background:
    radial-gradient(
      70.71% 70.71% at 50% 50%,
      rgba(11, 85, 177, 0.2) 0%,
      rgba(11, 85, 177, 0) 100%
    ),
    rgba(11, 85, 177, 0.06);
  box-shadow:
    0 8px 40px -20px rgba(255, 255, 255, 0.2),
    1px 1px 0 0 rgba(255, 255, 255, 0.08) inset,
    0 0 0 1px rgba(255, 255, 255, 0.06) inset;
}
