.secondary {
  border-radius: 43.059px;
  background:
    radial-gradient(
      70.71% 70.71% at 50% 50%,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.04);
  box-shadow:
    0 7.176px 35.882px -17.941px rgba(255, 255, 255, 0.2),
    0.897px 0.897px 0 0 rgba(255, 255, 255, 0.08) inset,
    0 0 0 0.897px rgba(255, 255, 255, 0.06) inset;
}

.primary {
  border-radius: 43.059px;
  background:
    radial-gradient(
      70.71% 70.71% at 50% 50%,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    var(--color-blue-70, #776bf8);
  box-shadow:
    0.897px 0.897px 1.794px 0 rgba(255, 255, 255, 0.24) inset,
    0 0.897px 2.691px 0 rgba(119, 107, 248, 0.24),
    0 1.794px 5.382px 0 rgba(119, 107, 248, 0.24),
    0 3.588px 7.176px 0 rgba(119, 107, 248, 0.12),
    0 14.353px 28.706px -7.176px rgba(119, 107, 248, 0.48);
}
