.secondary {
  border-radius: 43.059px;
  background:
    radial-gradient(
      70.71% 70.71% at 50% 50%,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.04);
  box-shadow:
    0 7.176px 35.882px -17.941px rgba(255, 255, 255, 0.2),
    0.897px 0.897px 0 0 rgba(255, 255, 255, 0.08) inset,
    0 0 0 0.897px rgba(255, 255, 255, 0.06) inset;
}

.primary {
  border-radius: 43.059px;
  background:
    radial-gradient(
      70.71% 70.71% at 50% 50%,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    var(--color-blue-46, #2841c1);
}
