.bg {
  box-shadow:
    0 209px 59px 0 rgba(0, 0, 0, 0),
    0 134px 54px 0 rgba(0, 0, 0, 0.01),
    0 75px 45px 0 rgba(0, 0, 0, 0.05),
    0 33px 33px 0 rgba(0, 0, 0, 0.09),
    0 8px 18px 0 rgba(0, 0, 0, 0.1);
}
