.bg {
  background: linear-gradient(
    149deg,
    var(--color-grey-96, #f6f6f6) 19.04%,
    var(--color-white-solid, #fff) 86.44%
  );
  box-shadow:
    219px 185px 80px 0 rgba(41, 66, 193, 0),
    140px 119px 73px 0 rgba(41, 66, 193, 0.01),
    79px 67px 62px 0 rgba(41, 66, 193, 0.05),
    35px 30px 46px 0 rgba(41, 66, 193, 0.08),
    9px 7px 25px 0 rgba(41, 66, 193, 0.09);
}
